<div class="p-6 bg-white rounded-xl shadow-sm border w-full max-w-md">
    <h2 class="text-2xl font-semibold mb-4">Prev session</h2>
  

    <div class="space-y-3 max-h-48 overflow-y-auto pr-1">
  

      <div class="flex justify-between items-center border rounded-lg px-4 py-3">
        <p>Task name</p>
        <p class="font-medium">2 hrs</p>
      </div>
  
      <div class="flex justify-between items-center border rounded-lg px-4 py-3">
        <p>Task name</p>
        <p class="font-medium">1.5 hrs</p>
      </div>
  
      <div class="flex justify-between items-center border rounded-lg px-4 py-3">
        <p>Task name</p>
        <p class="font-medium">3 hrs</p>
      </div>
  
    </div>
</div>
